html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*
 * /////////
 * HEADER
 * /////////
 */

.header {
  height: 8vh;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #888;
}

.search_box {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 3px;
  border-radius: 12px;
  background-color: #EEE;
  width: 30%;
  border: 1px solid transparent;
}

.search_box input, button {
  font-size: 2vh;
  outline: 0;
  border: none;
  background-color: inherit;
}

#search_box__text {
  width: 85%;
  padding: 5px;
}

#search_box__btn {
  height: 5vh;
  width: 0;
  padding: 0 10px;
  margin: 0;
  border-radius: 50%;
  width: 5vh;
  cursor: pointer;
}

#search_box__btn:hover {
  background-color: #DADADA;
}

.search_box:focus-within {
  /* border: 1px solid #484848; */
  background-color: white;
  /* box-shadow: 1px 1px 2px; */
  box-shadow: 1px 1px 1px rgb(0 0 0 / 10%), -1px -1px 1px rgb(0 0 0 / 10%);
}

/*
 * /////////
 * SIDEBAR
 * /////////
 */

.sidebar {
  position: fixed;
  top: calc(8vh + 1px);
  left: 0;
  background-color: white;
  height: calc(92vh - 1px - 20px);
  width: 15vw;
  z-index: 2;
  padding: 10px;
}

.new-btn {
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 15px;
  height: 40px;
  width: 10vw;
  cursor: pointer;
  font-size: 25px;
  text-align: right;
  min-width: max-content;
}

.new-btn:hover {

}

.new-menu {
  display: none;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

/*
 * /////////
 * EXPLORER
 * /////////
 */

.main-section {
  position: relative;
  left: 15vw;
  width: calc(85vw);
  height: calc(92vh - 1px);
}

.route {
  padding: 10px 20px;
  height: 30px;
}

.route > h2 {
  margin: 0;
  vertical-align: middle;
}

.main-section hr {
  border: none;
  border-top: 1px solid #CCC;
  margin: 0;
} 

.explorer {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 10px;
  column-gap: 20px;
  height: calc(100% - 71px);
  width: calc(100% - 20px);
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: space-between;
}

.element {
  display: flex;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #C6C6C6;
  color: black;
  width: max-content;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.element:hover {
  border: 2px solid lightskyblue;
}

.element h3 {
  margin-left: 5px;
  font-weight: bold;
  color: #484848;
}

.explorer::-webkit-scrollbar {
  width: .6vw;
}

.explorer::-webkit-scrollbar-track {

}

.explorer::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #888;
}

.explorer::-webkit-scrollbar-button {
  display: none;
}
