<header class="header">
  <form class="search_box" onsubmit="event.preventDefault()" autocomplete="off">
    <button type="submit" id="search_box__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" name="search" id="search_box__text" placeholder="Busca en la carpeta">
  </form>
</header>