<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/explorer.css">
  <link rel="stylesheet" href="/css/contextMenu.css">
  <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
  {{{ body }}}
  <script src="https://kit.fontawesome.com/4dc5c8a814.js" crossorigin="anonymous"></script>
</body>
</html>